/*
1-Position
2-Box Model
3-Typography
4-Visuals
5-Others
*/
:root{
    --intro-color:hsl(217, 28%, 15%);
    --main-color:hsl(218, 28%, 13%);
    --footer-color:hsl(216, 53%, 9%);
    --testimonials-color:hsl(219, 30%, 18%);
    --buttom-inactive:hsl(198, 60%, 50%);
    --buttom-active:hsl(176, 68%, 64%);
    --error-message:hsl(0, 100%, 63%);
    --white-neutral:hsl(0, 0%, 100%);
    --blu-link:hsl(228, 45%, 44%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Raleway', sans-serif;*/
}
.header{
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: var(--intro-color);
    align-items: center;
    box-shadow: 0 4px 8px black;
    position: absolute;
    
}
.header .header-logo{
    width: 100px;
    height: 30px;
    margin-left: 10px;
}
.header .header-list{
    list-style: none;
    text-decoration: none;
    justify-self: end;
    margin-right: 10px;
    
}
.header .header-list li{
    display: inline;
    font-size: 1.4rem;
    margin-left: 5px;
    
}
.header .header-list a{
    text-decoration: none;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: var(--white-neutral);
}
.main{
    width: 100%;
    height: auto;
    background-color: var(--main-color);
}
.main .main-intro{
    width: 100%;
    background-color: var(--intro-color);
}
.main .main-intro .illus{
    display: flex;
    justify-content: center;
}
.main .main-intro .illus img{
    width: 100%;
    max-width: 500px;
    margin-top: 130px;
    position: relative;
}
.main .main-intro .back{
    width: 100%;
    height: 160px;
    background-image: url("/images/bg-curvy-mobile.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    margin-top: -30px;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(8, 1fr);
    height: 400px;
}
.main .main-intro .back h1{
    grid-column: 1 / 9;
    grid-row: 3 / 4;
    font-size: 2.3rem;
    text-align: center;
    color: white;
    line-height: 3rem;
    max-width: 350px;
    justify-self: center;
}
.main .main-intro .back p{
    grid-column: 1 / 9;
    grid-row: 5 / 7;
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.3rem;
    text-align: center;
    max-width: 350px;
    justify-self: center;
}
.main .main-intro .back div{
    grid-column: 3 / 7;
    grid-row: 9 / 9;
    width: 200px;
    height: 40px;
    justify-self:center;
    border-radius: 20px;
    background-color:var(--buttom-inactive);    
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .main-intro .back div button{
    color: var(--white-neutral);
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    border:none;
    background-color:var(--buttom-inactive);
    color: var(--white-neutral);
    max-width: 250px;
    width: 190px;
    height: 25px;
}
.main .main-intro .back div button:hover{
    background-color: var(--buttom-active);
}
.main .main-intro .back div:hover{
    background-color: var(--buttom-active);
}
.main .main-services{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    color: var(--white-neutral);
    max-width: 300px;
    margin-top: 50px;
}
.main .main-services .services-info-container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 90px 40px 120px;
    height: auto;
}
.main .main-services .services-info-container img{
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    justify-self: center;
}
.main-services .services-info-container h2{
    grid-column: 1 / 4;
    grid-row: 2 / 2;
    text-align: center;
    align-self: center;
    font-size: 1.8rem;
    font-weight: bold;
}
.main-services .services-info-container p{
    grid-column: 1 / 4;
    grid-row: 3 / 3;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.3rem;
} 
.main .main-bene{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 30px;
    justify-content: center;
    color: var(--white-neutral);
}
.main .main-bene img{
    min-width: 300px;
    max-width: 500px;
    margin-top: 50px;
    min-height: 200px;
    max-height: 300px;
}
.main .main-bene .main-bene-info{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 40px 80px 80px 10px;
    margin-top: 20px;
    margin-bottom:30px;
}
.main .main-bene .main-bene-info h2{
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
}
.main .main-bene .main-bene-info p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.1rem;
}
.main .main-bene .main-bene-info a{
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--buttom-inactive);
}
.main .main-bene .main-bene-info a span{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    background-image: url("/images/icon-arrow.svg");
    background-repeat: no-repeat;
    background-size: center;
    background-size: contain;
    vertical-align: text-bottom;
}
.main .main-testimonials{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    
}
.main .main-testimonials .main-testimonials-info{
    width: 290px;
    height: 150px;
    background-color: var(--testimonials-color);
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(2, 1fr);
    border-radius: 10px;
}
.main .main-testimonials .main-testimonials-info p{
    font-size: 1.3rem;
    font-weight: lighter;
    line-height: 1.9rem;
    color: var(--white-neutral);
    display: flex;
    justify-self: center;
    grid-column: 1 / 7;
}
.main .main-testimonials .main-testimonials-info img{

}
.main .main-testimonials .main-testimonials-info h3{

}
.main .main-testimonials .main-testimonials-info .parrafo{

}




